<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel = "stylesheet" href = "{% static 'store/stylesheet1.css' %}">
    <title>Homepage</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <div class = "top-bar">
        <a href = "{% url 'store:homepage' %}"> <h3 class = "logo"> Allegretto </h3> </a>
        <div class = "searchbar"> 
            <form class="d-flex" role="search" action="{% url 'store:homepage' %}" method="get">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle categories" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Categories
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'store:homepage' %}?category=Decoration">Decoration</a></li>
                      <li><a class="dropdown-item" href="{% url 'store:homepage' %}?category=Food">Food</a></li>
                      <li><a class="dropdown-item" href="{% url 'store:homepage' %}?category=Other%">Other</a></li>
                    </ul>
                  </div>
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            
        </div>
        <a class = "messages" href = "#"> <img src = "{% static 'store/images/messages.png' %}" width=40 height="auto"></a>
        <a class = "cart" href = "#"> <img src = "{% static 'store/images/cart.png' %}" width=40 height="auto"></a>
        <div class="dropdown" id="userdrop">
            <button class="btn btn-secondary dropdown-toggle" id="user" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              User
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">My purchases</a></li>
              <li><a class="dropdown-item" href="#">Favorite</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
        </div>
    </div>
    <div class="bigbox">
      {% if query %}
      <div class = "querybox">
        <h2 class="query"> Search results for {{ query }}</h2>
        <a href="{% url 'store:homepage' %}"> <img src = "{% static 'store/images/x.jpg' %}" width= 20 height= "auto"></a>
      </div>
      {% endif %}
      <div class="items"> 
        {% for item in items %}
        <a class="item" href="#">
            <div class="item_image"> <img src="{{ item.image.url }}"> </div>
            <div class="item_info">
                <div class="item_name">  {{ item.name }} </div>
                <div class="item_price"> 
                    {% if item.symbol == 'zł' %}
                        <p class="amount">{{ item.price }} {{ item.symbol }}</p>
                        <p class="delivery"> With delivery: {{ item.total_price}} {{item.symbol}}</p>
                    {% else %}
                        <p class="amount">{{ item.symbol }} {{ item.price }}</p>
                        <p class="delivery"> With delivery: {{item.symbol}} {{ item.total_price}} </p>
                    {% endif %}
                    <div class="buying">
                      <button class="btn btn-outline-success" id="buynow" type="submit">Buy now</button>
                      <button class="btn btn-outline-success" id ="addcart" type="submit">Add to cart</button>
                    </div>
                </div>  
            </div>
        </a>
      {% endfor %}
      </div>
    </div>
</body>
</html>