{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="bigbox">
      {% if query %}
      <div class = "querybox">
        <h2 class="query"> Search results for {{ query }}</h2>
        <a href="{% url 'store:homepage' %}"> <img src = "{% static 'store/images/x.jpg' %}" width= 20 height= "auto"></a>
      </div>
      {% endif %}
      <div class="items"> 
        {% for item in items %}
        <a class="item" href="#">
            <div class="item_image"> <img src="{{ item.image.url }}"> </div>
            <div class="item_info">
                <div class="item_name">  {{ item.name }} </div>
                <div class="item_price"> 
                    {% if item.symbol == 'zł' %}
                        <p class="amount">{{ item.price }} {{ item.symbol }}</p>
                        <p class="delivery"> With delivery: {{ item.total_price}} {{item.symbol}}</p>
                    {% else %}
                        <p class="amount">{{ item.symbol }} {{ item.price }}</p>
                        <p class="delivery"> With delivery: {{item.symbol}} {{ item.total_price}} </p>
                    {% endif %}
                    <div class="buying">
                      <button class="btn btn-outline-success" id="buynow" type="submit">Buy now</button>
                      <button class="btn btn-outline-success" id ="addcart" type="submit">Add to cart</button>
                    </div>
                </div>  
            </div>
        </a>
      {% endfor %}
      </div>
    </div>
{% endblock %}